* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    overflow-y: auto;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0.5rem;
}

.profile-img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #007bff;
    object-fit: cover; /* Changed back to cover for better appearance */
}

h2, h3 {
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

p {
    color: #333;
    margin-bottom: 15px;
    line-height: 1.6;
    margin-top: 5px;    /* Mengurangi jarak atas paragraf */
    margin-bottom: 5px;
}

.section {
    margin-bottom: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.project {
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 15px;
    border-left: 5px solid #007bff;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.project a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

.project p {
    margin-top: 5px;
    display: block;
}

.contact a {
    color: #007bff;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

/* Interactive Elements */
label {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

select, input[type="range"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #17086d;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode .container,
body.dark-mode .section,
body.dark-mode .project {
    background-color: #444;
    color: #fff;
}

body.dark-mode a {
    color: #66b3ff;
}

body.dark-mode p,
body.dark-mode h2,
body.dark-mode h3 {
    color: #fff;
}